<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <form action="/admin/addProduct" method="POST">
        Name: <input type="text" name="name" class="form-control"><br/>
        Price: <input type="number" step=".01" name="price" class="form-control"><br/>
        Image URL: <input type="text" name="imageUrl" class="form-control"><br/>
        Description: <textarea name="description" cols="30" rows="10" class="form-control"></textarea><br/>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>
<div class="container"> 
</div>
</body>
</html>
